FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=8080
SECRET_KEY="0fc2bc9b95dbe659b842afb0421bdb04e3fd5cedc682ab315ac63656aa27f746"
DATABASE_URL=postgresql://project2:project2password@localhost/photogram